<h3 class="ui header">{{t "forms.i-i-s-proekt-na-generaciyu-маркетолог-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фИО
      class=(if (v-get validationModel "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-na-generaciyu-маркетолог-e.фИО-caption")
      data-test-i-i-s-proekt-na-generaciyu-маркетолог-e-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "фИО" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.телефон
      class=(if (v-get validationModel "телефон" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-na-generaciyu-маркетолог-e.телефон-caption")
      data-test-i-i-s-proekt-na-generaciyu-маркетолог-e-телефон=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "телефон" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-na-generaciyu-маркетолог-e.спрос-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.спрос
      displayAttributeName="категорНомера"
      autocomplete=true
      relationName="спрос"
      projection="СпросL"
      title=(t "forms.i-i-s-proekt-na-generaciyu-маркетолог-e.спрос-caption")
      readonly=readonly
      componentName="спросLookup"
      class=(if (v-get validationModel "спрос" "isInvalid") "error")
      data-test-i-i-s-proekt-na-generaciyu-маркетолог-e-спрос=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "спрос" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-na-generaciyu-маркетолог-e.основПоказат-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.основПоказат
      displayAttributeName="выручЗаГостя"
      autocomplete=true
      relationName="основПоказат"
      projection="ОсновПоказатL"
      title=(t "forms.i-i-s-proekt-na-generaciyu-маркетолог-e.основПоказат-caption")
      readonly=readonly
      componentName="основПоказатLookup"
      class=(if (v-get validationModel "основПоказат" "isInvalid") "error")
      data-test-i-i-s-proekt-na-generaciyu-маркетолог-e-основПоказат=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "основПоказат" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-na-generaciyu-маркетолог-e.целеваяАудит-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.целеваяАудит
      displayAttributeName="пол"
      autocomplete=true
      relationName="целеваяАудит"
      projection="ЦелеваяАудитL"
      title=(t "forms.i-i-s-proekt-na-generaciyu-маркетолог-e.целеваяАудит-caption")
      readonly=readonly
      componentName="целеваяАудитLookup"
      class=(if (v-get validationModel "целеваяАудит" "isInvalid") "error")
      data-test-i-i-s-proekt-na-generaciyu-маркетолог-e-целеваяАудит=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "целеваяАудит" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-na-generaciyu-маркетолог-e.должность-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.должность
      displayAttributeName="наименование"
      autocomplete=true
      relationName="должность"
      projection="ДолжностьL"
      title=(t "forms.i-i-s-proekt-na-generaciyu-маркетолог-e.должность-caption")
      readonly=readonly
      componentName="должностьLookup"
      class=(if (v-get validationModel "должность" "isInvalid") "error")
      data-test-i-i-s-proekt-na-generaciyu-маркетолог-e-должность=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "должность" "message")}}
  </div>
</form>
